body{
font-family:"Allerta Stencil";
text-align:center;
}
header{
text-align:center;
}
.bookReview{
/* border: 1px solid green; */
border:0.4px solid grey;
padding:3px;
border-radius:7px 7px;
width:95%;
word-wrap:break-word;
margin-left:-14px;
margin-bottom:8px;
font-size:14px;
font-weight:100;
font-family:'Roboto';
text-align:left;
  
}
.title{
/* border:2px dashed green; */
height:40px;
/* height:auto; */
margin-top:0px;
padding:10px 0px 10px 0px;
font-size: 23px;
line-height:23px;
overflow:auto;
font-family:"Allerta Stencil";
}

/* .border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}
 */
#sampleui {
/*   max-width: 450px; */
/*    border:1px solid red;   */
  width:auto;
  margin:auto;
  height: auto;
 background:rgba(0, 0, 255,0.04);
 border-radius:30px;
padding-top:10px;

}
#newBookForm{
/* border:3px solid green;  */
display:flex;
flex-direction:row;
width:50%;
margin:10px auto;
} 
#bookTitleToAdd{
width:70%;
 border:1px solid orange;
outline:none;
height:40px;
text-align:center;
border-radius: 15px 0px 0px 15px;
}
#newBook{
width:30%;
height:40px;
border:none; 
outline:none;
border-radius:0px 15px 15px 0px;
background:rgba(0, 190, 10,0.4);
margin-top:0px;
font-family:"Allerta Stencil";
}
#biblioteque{
/* border:2px dashed blue; */
/* display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center; */
background:rgba(0, 0, 102,0.06);
}
.bookitem{
border:1px solid black;
border-radius:1%;
margin:10px;;
text-align:center;
width:250px;
display:inline-block;
height:auto; 
word-wrap:break-word;
background:white;
} 
.commentForm{
padding-top:0px;
}
.commentInput{
/* margin-bottom:-30px; */
padding-left:8px;
border:1px solid black;
border-radius:7px 0px 0px 7px;
outline:none;
height:30px;
width:200px;
font-size:18px;
/* background:rgba(0,0,0,0.1); */
/* text-align:center; */
}
.commentInput:focus{
border:2px solid pink;

}
.listOfComment{
/* border:1px solid black; */
height:100px;
overflow: auto;
/* padding-bottom:100px; */
}
.deleteBook{
width:100px;
margin-bottom:10px;
background:rgba(255, 0, 0,0.7);
border:none;
border-radius:1px;
font-size:16px;
color:white;
/* transition-duration: 0.3s;
-webkit-transition-duration: 0.3s; /* Safari */ 
}
.deleteBook:hover{
outline:3px solid purple; 
background:rgba(255, 0, 0,1);

}
.addComment{
width:40px;
height:30px;
/* margin-bottom:-100px; */
border:none;
border-radius:0px 5px 5px 0px;
outline:none;
/* background:rgba(0,0,0,0.25); */
color:rgba(0,10,255,0.55);
font-size:16px;
font-weight:bold;
padding:0px;
line-height:0px;
transition-duration: 0.3s;
-webkit-transition-duration: 0.3s; /* Safari */
}
.addComment:hover{
/*border:0.4px solid black;*/
border-radius:0px 0px 5px 5px;
width:30px;
transform: rotate(-90deg);
/* border-radius:50%; */
background:rgba(0,0,0,0.6);
color:rgba(255, 153, 51,0.8);
margin:1px;
}

#deleteAllSection{
/* border:3px solid green; */
background:rgba(255, 0, 0,0.05);
border-radius:0px 0px 30px 30px;

}
#danger1{
color:red;
font-size:30px;
}
#danger2{
color:red;
font-size:20px;
}

#deleteAllBooks{
border:none;
background:rgba(255, 0, 0,0.7);
border-radius:3px;
font-weight:bold;
font-size:30px;
color:white;
height:50px;
width:300px;
margin:50px auto 15px auto;
}

footer{
margin: 15px auto 15px auto;
}